// winnifred.keymap
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                &kp ESCAPE &kp NUMBER_1 &kp NUMBER_2 &kp NUMBER_3 &kp NUMBER_4 &kp NUMBER_5 &kp NUMBER_6 &kp NUMBER_7 &kp NUMBER_8 &kp NUMBER_9 &kp NUMBER_0 &kp MINUS &kp EQUAL &kp BACKSPACE &kp DELETE &kp KP_EQUAL &kp KP_MULTIPLY
                &kp TAB &kp Q &kp W &kp E &kp R &kp T &kp Y &kp U &kp I &kp O &kp P &kp LEFT_BRACKET &kp RIGHT_BRACKET &kp NUMBER_7 &kp NUMBER_8 &kp NUMBER_9 &kp KP_PLUS
                &kp LEFT_CONTROL &kp A &kp S &kp D &kp F &kp G &kp H &kp J &kp K &kp L &kp SEMICOLON &kp SINGLE_QUOTE &kp RETURN &kp NUMBER_4 &kp NUMBER_5 &kp NUMBER_6 &kp KP_MINUS
                &kp LEFT_SHIFT &kp Z &kp X &kp C &kp V &kp B &kp N &kp M &kp PERIOD &kp QUESTION &kp RIGHT_SHIFT &kp NUMBER_1 &kp NUMBER_2 &kp NUMBER_3
                &kp LEFT_ALT &kp LEFT_GUI &kp GRAVE &kp SPACE &kp BACKSLASH &kp LEFT_ARROW &kp RIGHT_ARROW &kp DOWN_ARROW &kp UP_ARROW &kp NUMBER_0 &kp KP_DOT &kp KP_ENTER
            >;
        };
    };
};
